<h1> Please, write to us! </h1>
<h3> E-mail: barbershop@mail.com </h3>
<form action="/contacts" method="POST" role="form">
<label>Enter your E-mail</label>
<div class="form-group">
      <input name = "email" type="email" class="form-control" id="inputEmail3 value="<%= @email %>"" placeholder="Ваш E-mail">
</div>

<label>Enter text of message</label>
<textarea name = "body" class="form-control" rows="4" value="<%= @body %>"> </textarea> </br>
<button type="submit" class="btn btn-primary">Submit</button>
</form>


<!-- <form action = "" method = "post">
  <fieldset>
    <ol>
      <li>
        <label for = "name"> Name</label>
        <input type = "text" name = "name" class = "text"/>
      </li>
      <li>
        <label for = "mail"> email </label>
        <input type = "text" name = "mail" class = "text"/>
      </li>
      <li>
        <label for = "body"> Message </label>
        <textarea name = "body"></textarea>
      </li>
    </ol>
    <input type = "submit" value = "Send" class = "button"/> 
    -->
    